$primary-color: #082c40;

.content {
  min-height: calc(100vh - 50px);
}

// nav

nav {
  padding: 0.5rem 4rem;
  background: $primary-color;
  color: white;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;

    li {
      padding-right: 3rem;
    }
  }
}